.btn{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 18px 26px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.primary{
    background-color: rgb(113, 161, 17);
}
.outline{
    background: transparent;
}
.green{
    border:1px solid white;
    color: white;
    transition: all .2s ease-out;
}
.green:hover{
    background-color: white;
    color: #010101;
}
.green-2{
    border:1px solid white;
    color: white;
    transition: all .2s ease-out;
}
.green-2:hover{
    background-color: #2d333a;
}
.cart{
   
    background-color: #292e34;
}
.gray{
    padding: 24px 36px;
    color: white;
}
.gray:hover{
    background-color: #001;
}
.black{
    padding: 8px 20px;
    color: #000;
    border: 1px solid #000;
    transition: all .2s ease-out;
}
.black:hover{
    background-color:#000;
    color: white;
}